<article class="container">
  <h1>Twitter - Signals</h1>
  <form name="form" class="form">
    <textarea
      id="texto"
      name="texto"
      data-testid="texto"
      placeholder="¿Qué estás pensando?"
      [ngModel]="texto()"
      (ngModelChange)="texto.set($event)"></textarea>
    <div class="footer">
      <span class="hint">Caracteres restantes</span>
      <span data-testid="restantes" class="badge" [class]="espacioRestanteClass()">
        {{cantidadLetrasRestantes()}}
      </span>
    </div>
  </form>
</article>